/* body {
  background-color: blue;
  color: white;
} */

/* media-query */
/* max-width */

/* tab */
/* @media (max-width: 768px) {
  body {
    background-color: green;
  }
} */
/* mobile */
/* @media (max-width: 426px) {
  body {
    background-color: brown;
  }
} */

/* min-width */
/* 
body{
    background-color: yellow;
}

@media(min-width:768px){
    body{
        background-color: blue;
        color: white;
    }

}

@media(min-width:1024px){
    body{
        background-color: purple;
    } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
h2 {
  display: none;
}
/* main */
main {
  padding: 10px 16px;
}
#section-1 {
  display: flex;
  margin-bottom: 10px;
}
#tablet {
  display: none;
}
#mobile {
  display: none;
  /* visibility: hidden; will remove it but keep the space */
}
/* OR #tablet, #mobile 
{
display: none;
} */
#section-2 {
  text-align: center;
}
footer {
  display: flex;
  padding: 10px, 16px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #desktop {
    display: none;
  }
  #tablet {
    display: block;
  }
}

@media (max-width: 426px) {
  ul {
    display: none;
  }
  h2 {
    display: block;
  }
}
#section-1 {
  flex-direction: column;
}
/* #desktop{
    display: none; */
#tablet {
  display: block;
}
#mobile {
  display: block;
}
footer {
  flex-direction: column;
  gap: 20px;
}
